.footer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Stack footer elements vertically */
        align-items: center; /* Center align the items */
        gap: 0.5rem; /* Reduce gap for smaller screens */
    }
}

.statistics {
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {
    .statistics {
        flex-direction: column; /* Stack statistics elements vertically */
        align-items: center; /* Center align the items */
        gap: 0.5rem; /* Reduce gap for smaller screens */
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Stack header elements vertically */
        align-items: center; /* Center align the items */
    }
}

.dialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    max-width: 500px; /* Ensure dialog width is manageable on large screens */
    width: 100%;
}

@media (max-width: 768px) {
    .dialog {
        max-width: 90%; /* Reduce max-width for smaller screens */
        padding: 15px; /* Adjust padding */
    }
}

.icon {
    width: 100%; /* SVG will take up the full width of its container */
    max-width: 24px; /* Optional: limit the maximum size */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

/* Example for responsive sizing */
@media (min-width: 600px) {
    .delete-icon {
        max-width: 32px; /* Increase size on larger screens */
    }
}
